<app-header></app-header>

<div class="container">
  <div class="items">
    <img width="150" height="150" src="me.jpg">
    <div class="items-top">
      <span class="name">Moritz Maier</span>
      <span class="job">Programmer</span>
    <p class="desc">
      Hello I'm a 17 year old guy that loves programming. <br>
      This website is an open-source site for searching books
      and viewing information about them. If you are a dev
      and you are interested in the source code you can have
      a look here:  <a href="https://github.com/Moritz344/book-page" target="_blank">Source Code</a>
    </p>
    <br>
      <div class="text-items"></div>

      <p>
        This website is still in development so It might change alot. If you find
        a bug please report it by sending me an email or by creating an github issue: <br>

        <br>
        <a href="https://github.com/Moritz344/book-page/issues" target="_blank"> - Github Issue</a> <br>
      <a
        href="mailto:moritzmaier353@gmail.com?subject=Feedback%20zur%20App">
      - E-Mail
</a>

      </p>


    </div>
  </div>
</div>
