
<div class="container">

  <h1>Search for Books or Authors </h1>
  <div class="elements">

    <input type="text"
    [(ngModel)]="searchInput" (keydown.code.enter)="onSearch(searchInput)" placeholder="Suchen...">

    <button type="button" (click)="onSearch(searchInput)">
      <img src="search.svg">
    </button>

  </div>


    @if (searchResult.length >= 1) {
      <app-search-result
        [data]="searchResult"
        ></app-search-result>

      }@else{
      <div class="error">
        <span>Nothing here...</span>
      </div>
      }
  @if (isLoading) {
    <div class="load"></div>
  }

<div class="pages">

  @if (searchResult.length >= 1) {
    <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first" [rows]="rows" [totalRecords]="120"  />
  }

  </div>
</div>
